<h{{ .Level }} id="{{ .Anchor | safeURL }}">{{ .Text | safeHTML }}
{{- if and (ge .Level 2) (le .Level 4) -}}
<a class="anchor-link" href="#{{ .Anchor | safeURL }}"><i class="bi bi-link"></i></a>
{{- end -}}
</h{{ .Level }}>