
{{ "<!-- Start releases/summary.html -->" | safeHTML }}
<article>
	<header>
		{{ partial "summary-title.html" . }}
	</header>
	<br />
	{{ .Summary }}
	{{ partial "read-more" . }}
</article>
{{ "<!-- End releases/summary.html -->" | safeHTML }}
