/* -------------------------------------------------------------------------
*   ACE DOCUMENTATION
*   Stylesheet
*   @author Vantage Design
*   @version 1.0.4
*   @license https://github.com/vantagedesign/ace-documentation/blob/master/LICENSE
* ------------------------------------------------------------------------ */

@import "bootstrap/bootstrap";

/* Typography styling */
.main > h2 {
	padding-top: 4rem;
	margin-top: -1rem;
}

.main > h3,
.main > h4,
.main > h5,
.main > h6 {
	padding-top: 4rem;
	margin-top: -3rem;
}

.haschildren ul {
	color: gray;
	display: none;
}

.haschildren.active ul,
.haschildren.parent ul {
	display: block;
}

.highlight > pre {
	padding: 15px;
}

/* Side navigation menus */
.docs-sidenav span.badge.badge-primary,
.docs-toc span.badge.badge-primary {
	font-size: 10px;
}

@media (min-width: 768px) {
	.docs-sidenav,
	.docs-toc {
		height: calc(100vh - 4rem);
		top: 4rem;
		position: sticky;
		overflow: auto;
	}

	.docs-sidenav .navbar,
	.docs-toc .navbar {
		padding-right: 0;
	}

	.docs-sidenav .navbar-collapse,
	.docs-sidenav .navbar-nav {
		width: 100%;
	}

	.docs-sidenav .nav-link,
	.docs-toc li a {
		display: flex;
		align-items: start;
		justify-content: space-between;
	}

	.docs-sidenav .nav-link > span.badge.badge-primary,
	.docs-toc li a > span.badge.badge-primary {
		margin-top: 5px;
	}
}

@media (min-width: 1200px) {
	.docs-toc.large {
		height: calc(100vh - 4rem);
	}
}

@media (max-width: 1200px) {
	.docs-toc.large {
		display: none;
	}
}

.docs-toc {
	padding-top: 10px;
}

.docs-toc a {
	color: gray;
	text-decoration: none;
}

.docs-toc a:hover {
	color: #333;
}

.docs-toc ul {
	list-style: none;
	padding-left: 18px;
	margin-top: 3px;
}

.docs-toc ul:first-child {
	padding-left: 0;
}

/* Table tweak for JavaScript methods */
table td:first-child > code {
	word-break: normal;
}

.anchor-link {
	padding: 0 .175rem;
	font-weight: 400;
	color: rgba($link-color, .5);
	text-decoration: none;
	opacity: 0;
	@include transition(color .15s ease-in-out, opacity .15s ease-in-out);

	&:focus,
	&:hover,
	:hover > &,
	:target > & {
		color: $link-color;
		text-decoration: none;
		opacity: 1;
	}
}

#btn-back-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: none;
}
