<!DOCTYPE html>
<html>
{{ partial "head.html" . }}
<body>
	{{ partial "header.html" . }}
	<div class="container-fluid">
		<div class="row">
			<div class="docs-sidenav order-0 col-12 col-md-3 col-lg-2 col-xl-2 border-end">
				{{ partial "menu.html" . }}
			</div>
			{{- if and (ne .Site.Params.toc false) (ne .Params.toc false) }}
			<div class="docs-toc large order-lg-2 order-md-0 order-xs-1 col-12 col-lg-2 col-xl-2 border-start">
				{{ block "toc" . }}{{- end }}
			</div>
			<div class="main col-12 order-1 col-md-9 col-lg-10 col-xl-8 py-3">
			{{ else }}
			<div class="main col-12 order-1 col-md-9 col-lg-10 col-xl-10 py-3">
			{{ end }}
				{{- block "main" . }}{{- end }}
				{{- partial "back-to-top.html" . }}
				{{- partial "next-prev-page.html" . }}
				{{- partial "footer.html" . }}
				{{- partial "copyright.html" . }}
			</div>
		</div>
	</div>
</body>
</html>
