{{- define "main" -}}
	{{- partial "page-title.html" . }}
	{{- partial "page-meta.html" . -}}

	<div>
		<h2>Current release</h2>
		{{- with $.Params.download -}}
			{{- range first 1 $.Params.download }}
			<h5>Download piCorePlayer {{ .pcpversion }} - {{ with .pcpdate }}{{ dateFormat "2 January 2006" . }}{{ end }}</h5>
			{{- if (eq .url false) }}
			<div class="row mx-2">
				<a class="btn btn-primary m-1 col-md-4" href="https://repo.pcplayer.org/insitu/piCorePlayer{{ .pcpversion }}/piCorePlayer{{ .pcpversion }}.img.xz" target="_blank">
					piCorePlayer {{ .pcpversion }} - 32-bit
				</a>
				{{- if (ne .sha256 "") }}
				<a>
					SHA256: {{.sha256}}
				</a>
				{{- end }}
			</div>
			{{- if (eq .bit64 true) }}
			<div class="row mx-2">
				<a class="btn btn-primary m-1 col-md-4" href="https://repo.pcplayer.org/insitu/piCorePlayer{{ .pcpversion }}/piCorePlayer{{ .pcpversion }}-64Bit.img.xz" target="_blank">
					piCorePlayer {{ .pcpversion }} - 64-bit
				</a>
				{{- if (ne .sha25664 "") }}
				<a>
					SHA256: {{.sha25664}}
				</a>
				{{- end }}
			</div>
			{{- end -}}
			{{- if (eq .realtime true) }}
			<div class="row mx-1">
				<a class="btn btn-primary m-1 col-md-4" href="https://repo.pcplayer.org/insitu/piCorePlayer{{ .pcpversion }}/piCorePlayer{{ .pcpversion }}-Audio.zip" target="_blank">
					piCorePlayer {{ .pcpversion }} - Experimental RealTime Kernel
				</a>
			</div>
			{{- end -}}
			{{ else }}
			{{- if (eq .url "img") }}
			<div class="row mx-1">
				<a class="btn btn-primary m-1 col-md-4" href="https://repo.pcplayer.org/insitu/piCorePlayer{{ .pcpversion }}/piCorePlayer{{ .pcpversion }}.img" target="_blank">
					piCorePlayer {{ .pcpversion }} - Standard Version
				</a>
			</div>
			{{- else -}}
			<div class="row mx-1">
				<a class="btn btn-primary m-1 col-md-4" href="{{ .url }}" target="_blank">
					piCorePlayer {{ .pcpversion }} - Standard Version
				</a>
			</div>
			{{- end }}
			{{- end }}
			<div class="row">
				<a class="text-decoration-none" href="../releases/pcp{{ .pcpversion | replaceRE "[/.]" "" | replaceRE "[_RPi].*" ""}}/">
					Read more >
				</a>
			</div>
			{{- end -}}
		{{- end }}

		<br />
		{{- $style := "info" }}
		<div class="card border-{{ $style }} bg-{{ $style }} bg-opacity-10 my-3 border-width-5">
			<div class="card-body">
				<h5 class="card-title text-{{ $style }}">32-bit</h5>
				<div class="card-body pt-1">
					<ul>
						<li>32-bit version is usually more extensively tested.</li>
						<li>Best for older Raspberry Pi's.</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="card border-{{ $style }} bg-{{ $style }} bg-opacity-10 my-3 border-width-5">
			<div class="card-body">
				<h5 class="card-title text-{{ $style }}">64-bit</h5>
				<div class="card-body pt-1">
					<ul>
						<li>Should work on all quad-core Raspberry Pi's.</li>
						<li>Best for newer Raspberry Pi's.</li>
					</ul>
				</div>
			</div>
		</div>
		<br />
		<h2>Previous release</h2>
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="text-decoration-none" href="../releases/">
					Read more >
				</a>
			</li>
		</ul>
	</div>

{{- end -}}
