
{{ "<!-- Start partials/back-to-top.html -->" | safeHTML }}
<button id="btn-back-to-top" class="btn btn-outline-dark btn-sm rounded-circle" type="button">
	<i class="bi bi-caret-up-fill" style="font-size: 130%;"></i>
</button>
{{ "<!-- End partials/back-to-top.html -->" | safeHTML }}
