
{{ "<!-- Start partials/footer.html -->" | safeHTML }}
<script src="{{ .Site.BaseURL }}lib/jquery.min.js"></script>
<script src="{{ .Site.BaseURL }}js/bootstrap.bundle.min.js"></script>
<script src="{{ .Site.BaseURL }}js/backtotop.js"></script>
<script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
<script>mermaid.initialize({startOnLoad:true});</script>
<script src="{{ .Site.BaseURL }}plugins/lunr.min.js"></script>
<script src="{{ .Site.BaseURL }}plugins/auto-complete.js"></script>
<link rel="stylesheet" href="{{ .Site.BaseURL }}plugins/auto-complete.css">
<script>
	{{- if hugo.IsMultilingual }}
		var baseurl = "{{ .Site.BaseURL }}{{ .Site.LanguagePrefix }}";
	{{- else }}
		var baseurl = "{{ .Site.BaseURL }}";
	{{- end }}
</script>
<script src="{{ .Site.BaseURL }}plugins/search.js"></script>
<script src="{{ .Site.BaseURL }}plugins/clipboard.js"></script>
<script>new ClipboardJS('.btn');</script>
{{ "<!-- End partials/footer.html -->" | safeHTML }}
