
{{ "<!-- Start partials/head.html -->" | safeHTML }}
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="{{ .Site.Params.authors }}">
	<meta name="generator" content="Hugo {{ hugo.Version }}">
	<link rel="canonical" href="{{ .Permalink }}">
	<title>{{ .Title }}{{ if ne .Title .Site.Title }} | {{ .Site.Title }}{{ end }}</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
<!--{{ $options := (dict "targetPath" "css/style.css" "outputStyle" "compressed" "enableSourceMap" true) }}-->
	{{- $style := resources.Get "scss/docs.scss" | toCSS | minify }}
	<link rel="stylesheet" href="{{ $style.Permalink }}">
</head>
{{ "<!-- End partials/head.html -->" | safeHTML }}
