
{{ "<!-- Start partials/header.html -->" | safeHTML }}
	<nav class="navbar navbar-expand-lg navbar-dark {{ $.Site.Params.bg }} shadow sticky-top" id="navbarMain">
		<div class="container-fluid">
			<a class="navbar-brand" href="{{ .Site.BaseURL | relLangURL }}">
				<img src="{{ .Site.BaseURL | relLangURL }}pCP.png" width="40" alt="piCorePlayer">
				&nbsp;&nbsp;{{- .Site.Title -}}
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMainCollapse" aria-controls="navbarMainCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarMainCollapse">
				<ul class="navbar-nav ms-auto">
				{{- with .Site.Menus.shortcuts }}
					{{- range sort . "Weight" }}
					<li class="nav-item">
						<a class="nav-link" href="{{ .URL }}">{{ safeHTML .Name }}</a>
					</li>
					{{- end }}
				{{- end }}
				</ul>
			</div>
		</div>
	</nav>
{{ "<!-- End partials/header.html -->" | safeHTML }}
