
{{ "<!-- Start partials/menu.html -->" | safeHTML }}
<nav class="navbar navbar-expand-md navbar-light pl-0">
	<button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidenav-left-collapse" aria-controls="sidenav-left-collapse" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse align-items-start flex-column" id="sidenav-left-collapse">
		<form class="form-inline my-2 my-lg-0 searchbox">
			<div class="input-group">
				<div class="input-group-text"><i class="bi bi-search"></i></div>
				<input class="form-control w-80" data-search-input id="search-by" type="text" placeholder="Search">
			</div>
		</form>
		<ul class="navbar-nav flex-column pt-2">
			{{- $currentNode := . }}
			{{- $showvisitedlinks := .Site.Params.showVisitedLinks -}}
			{{- if eq .Site.Params.ordersectionsby "title" }}
				{{- range .Site.Home.Sections.ByTitle }}
				{{- template "section-tree-nav" dict "sect" . "currentnode" $currentNode }}
				{{- end }}
			{{- else }}
				{{- range .Site.Home.Sections.ByWeight }}
				{{- template "section-tree-nav" dict "sect" . "currentnode" $currentNode }}
				{{- end }}
			{{ end }}
		</ul>
	</div>
</nav>
{{ "<!-- End partials/menu.html -->" | safeHTML }}

{{- define "section-tree-nav" }}
{{- $currentNode := .currentnode }}
{{- with .sect }}
{{- if and .IsSection (or (not .Params.hidden) $.showhidden) }}
{{- $numberOfPages := (add (len .Pages) (len .Sections)) }}
{{- safeHTML .Params.head }}
	<li data-nav-id="{{ .RelPermalink }}" class="nav-item
		{{- if .IsAncestor $currentNode }} parent{{ end }}
		{{- if eq .RelPermalink $currentNode.RelPermalink }} active{{ end }}
		{{- if .Params.alwaysopen }} alwaysopen{{ end -}}
		{{- if ne $numberOfPages 0 }} haschildren{{ end }}">
		<a class="nav-link p-0" href="{{ .RelPermalink }}">
			{{ safeHTML .Params.Pre }}{{ .Title }}{{ safeHTML .Params.Post }}
		</a>
		{{- if ne $numberOfPages 0 -}}
		<ul class="list-unstyled ms-3">
			{{- .Scratch.Set "pages" .Pages }}
			{{- if .Sections }}
			{{- .Scratch.Set "pages" (.Pages | union .Sections) }}
			{{- end }}
			{{- $pages := (.Scratch.Get "pages") }}
			{{- if eq .Site.Params.ordersectionsby "title" }}
				{{- range $pages.ByTitle }}
					{{- if and .Params.hidden (not $.showhidden) }}
					{{- else }}
					{{- template "section-tree-nav" dict "sect" . "currentnode" $currentNode }}
					{{- end }}
				{{- end }}
			{{- else }}
				{{- range $pages.ByWeight }}
					{{- if and .Params.hidden (not $.showhidden) }}
					{{- else }}
					{{- template "section-tree-nav" dict "sect" . "currentnode" $currentNode }}
					{{- end }}
				{{- end }}
			{{- end }}
		</ul>
	{{- end }}
	</li>
{{- else }}
{{- if not .Params.Hidden }}
	<li data-nav-id="{{ .RelPermalink }}" class="nav-item my-1 {{- if eq .RelPermalink $currentNode.RelPermalink }} active{{ end -}}">
		<a href="{{ .RelPermalink }}" class="nav-link p-0">
			{{ safeHTML .Params.Pre }}{{ .LinkTitle }}{{ safeHTML .Params.Post }}
		</a>
	</li>
{{- end}}
{{- end}}
{{- end}}
{{- end}}
