
{{ "<!-- Start partials/next-prev-page.html -->" | safeHTML }}
<div class="position-relative mx-auto col-lg-12">
	<div class="row {{ $.Site.Params.bg }} mt-5 shadow">
		{{- $currentNode := . }}
		{{- template "menu-nextprev" dict "menu" .Site.Home "currentnode" $currentNode }}
		{{- define "menu-nextprev" }}
			{{- $currentNode := .currentnode }}
			{{- if ne .menu.Params.hidden true }}
				{{- if hasPrefix $currentNode.RelPermalink .menu.RelPermalink }}
					{{- $currentNode.Scratch.Set "NextPageOK" "OK" }}
					{{- $currentNode.Scratch.Set "prevPage" ($currentNode.Scratch.Get "prevPageTmp") }}
				{{- else }}
					{{- if eq ($currentNode.Scratch.Get "NextPageOK") "OK" }}
						{{- $currentNode.Scratch.Set "NextPageOK" nil }}
						{{- $currentNode.Scratch.Set "nextPage" .menu }}
					{{- end }}
				{{- end }}
				{{- $currentNode.Scratch.Set "prevPageTmp" .menu }}
				{{- $currentNode.Scratch.Set "pages" .menu.Pages }}
				{{- if .menu.IsHome }}
					{{- $currentNode.Scratch.Set "pages" .menu.Sections }}
				{{- else if .menu.Sections }}
					{{- $currentNode.Scratch.Set "pages" (.menu.Pages | union .menu.Sections) }}
				{{- end }}
				{{- $pages := ($currentNode.Scratch.Get "pages") }}
				{{- range $pages.ByWeight }}
					{{- template "menu-nextprev" dict "menu" . "currentnode" $currentNode }}
				{{- end }}
			{{- end }}
		{{- end }}
		<div class="col">
			{{- with ($.Scratch.Get "prevPage") }}
			<a class="p-1 d-inline-block text-white text-decoration-none" href="{{ .RelPermalink }}" title="{{ .Title }}"><i class="bi bi-chevron-left"></i> {{ .Title }}</a>
			{{- end }}
		</div>
		<div class="col text-end">
			{{- with ($.Scratch.Get "nextPage") }}
			<a class="p-1 d-inline-block text-white text-decoration-none" href="{{ .RelPermalink }}" title="{{ .Title }}">{{ .Title }} <i class="bi bi-chevron-right"></i></a>
			{{- end }}
		</div>
	</div>
</div>
{{ "<!-- End partials/next-prev-page.html -->" | safeHTML }}
