
{{ "<!-- Start partials/page-meta.html -->" | safeHTML }}
<div class="mt-0 mb-4">
	{{- if .Params.author }}
	<i class="bi bi-person-fill mx-2" style="font-size: 110%;"></i>{{ .Params.author }}
	{{- end }}
	{{- if .Params.date }}
	<i class="bi bi-calendar-fill mx-2" style="font-size: 90%;"></i>{{ .Params.date.Format "2 January 2006" }}
	{{- end }}
	{{ if not hugo.IsProduction }}
		{{- if .Params.lastmod }}
		<i class="bi bi-calendar-fill mx-2" style="font-size: 90%;"></i>{{ .Params.lastmod.Format "2 January 2006" }}
		{{- end }}
	{{ end }}
	{{- if .Params.pcpver }}
	<i class="bi bi-badge-vr-fill mx-2"></i>pCP {{ .Params.pcpver }}
	{{- end }}
	{{- if .Params.categories }}
	<i class="bi bi-folder-fill ms-2 me-1"></i>
		{{- range $index, $category := .Params.categories }}
		{{- if gt $index 0 }}&nbsp;&bullet;{{- end }}
		<a class="text-decoration-none" href="{{ "/categories/" | relLangURL }}{{ . | urlize }}/" rel="category">{{ . }}</a>
		{{- end }}
	{{- end }}
	{{- if .Params.tags -}}
	<i class="bi bi-tag-fill ms-2 me-1"></i>
		{{- range $index, $tag := .Params.tags }}
		{{- if gt $index 0 }}&nbsp;&bullet;{{- end }}
		<a class="text-decoration-none" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}/" rel="tag">{{ . }}</a>
		{{- end }}
	{{- end }}
</div>
{{ "<!-- End partials/page-meta.html -->" | safeHTML }}
