
{{ "<!-- Start partials/page-title.html -->" | safeHTML }}
<div class="mt-0">
	<h1>{{ if .Params.draft }}DRAFT: {{ end }}{{ if .Params.description }}{{ .Params.description }}{{ else }}{{ .Params.title }}{{ end }}</h1>
</div>
{{ "<!-- End partials/page-title.html -->" | safeHTML }}
