
{{ "<!-- Start partials/read-more.html -->" | safeHTML }}
<div class="mt-3 mb-5">
	<a class="text-decoration-none" href="{{ .RelPermalink }}">Read more ></a>
</div>
{{ "<!-- End partials/read-more.html -->" | safeHTML }}
