
{{ "<!-- Start partials/summary-title.html -->" | safeHTML }}
<div class="mt-0">
	<h2>{{ if .Params.description }}{{ .Params.description }}{{ else }}{{ .Params.title }}{{ end }}</h2>
</div>
<div class="mt-0">
	{{ if .Params.author }}<i class="bi bi-person-fill mx-2" style="font-size: 110%;"></i>{{ .Params.author }}{{ end }}
	{{ if .Params.date }}<i class="bi bi-calendar-fill mx-2" style="font-size: 90%;"></i>{{ .Params.date.Format "2 January 2006" }}{{ end }}
</div>
{{ "<!-- End partials/summary-title.html -->" | safeHTML }}
