
{{ "<!-- Start partials/taxonomy.html -->" | safeHTML }}
<taxonomy>
	<h5><i class="bi bi-folder-fill me-2"></i>Categories</h5>
	<hr>
	<ul class="nav flex-column">
		{{- range .Site.Taxonomies.categories }}
		<li class="nav-item">
			<a class="nav-link p-0" href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a>
		</li>
		{{- end }}
	</ul>
	<h5 class="mt-3"><i class="bi bi-tag-fill me-2"></i>Tags</h5>
	<hr>
	<ul class="nav flex-column">
		{{- range .Site.Taxonomies.tags }}
		<li class="nav-item">
			<a class="nav-link p-0" href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a>
		</li>
		{{- end }}
	</ul>
</taxonomy>
{{ "<!-- End partials/taxonomy.html -->" | safeHTML }}
