<!DOCTYPE html>
<html>
	{{ partial "head.html" . -}}
	<body>
		<div style="height:100vh;">
			<div class="d-flex flex-column align-items-center justify-content-center h-100">
				<h1 class="display-1 text-muted">Error 404.</h1>
				<p class="lead">The page you requested could not be found.</p>
				<a href="{{ .Site.BaseURL | relLangURL }}" class="btn btn-outline-primary mt-5">
					<i class="bi bi-box-arrow-in-left"></i>
					Return to the homepage
				</a>
			</div>
		</div>
	</body>
</html>