
{{ define "main" }}
	<div class="mb-5 mt-0">
		<h1>
			{{ .Type | humanize | singularize }}: {{ .Title }}
		</h1>
	</div>

	{{ if or (eq .Title "Tags") (eq .Title "Categories") }}
	<article>
		<div>
			<ul class="nav flex-column">
				{{ $paginator := .Paginate (where .Pages.ByLinkTitle "Type" ( .Title | lower )) }}
				{{ range $paginator.Pages }}
				<li class="nav-item">
					<a class="nav-link p-0" href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a>
				</li>
				{{ end }}
			</ul>
			<br />
			{{ template "_internal/pagination.html" . }}
		</div>
	</article>
	{{ else }}

	{{ range sort .Paginator.Pages }}
	<article>
		<h2>
		{{- if .Params.description }}
			{{- .Params.description }}
		{{- else }}
			{{- .Title }}
		{{- end -}}
		</h2>
		{{ partial "page-meta" . }}
		<div>
		{{ .Summary | safeHTML }}
		</div>		
		{{ partial "read-more" . }}
	</article>
	{{ end }}
	{{ template "_internal/pagination.html" . }}

	{{ end }}

{{ end }}

{{ define "toc" }}
	{{ partial "taxonomy" . }}
{{ end }}
