{{- $style := .Get "style" }}
{{- $icon := "" }}

{{- if (eq $style "success") }}
	{{- $icon = "bi bi-check-circle" }}
{{- else if (eq $style "info") }}
	{{- $icon = "bi bi-info-circle" }}
{{- else if (eq $style "warning") }}
	{{- $icon = "bi bi-exclamation-triangle" }}
{{- else if (eq $style "danger") }}
	{{- $icon = "bi bi-radioactive" }}
{{- else }}
	{{- $style = "primary" }}
	{{- $icon = "bi bi-exclamation" }}
{{- end }}

{{ "<!-- Start shortcodes/card.html -->" | safeHTML }}
<div class="card border-{{ $style }} bg-{{ $style }} bg-opacity-10 my-3 border-width-5">
	<div class="card-body">
		<h5 class="card-title text-{{ $style }}"><i class="h4 {{ $icon }} me-3"></i>{{ $style | humanize }}</h5>
		<p class="card-text ms-4">{{- print .Inner | markdownify -}}</p>
	</div>
</div>
{{ "<!-- End shortcodes/card.html -->" | safeHTML }}
