{{- $sortTerm := .Get "sort" | default "Weight" }}

{{- .Scratch.Set "current" .Page }}

{{- if (.Get "page") }}
	{{- with .Site.GetPage "section" (.Get "page") }}
		{{- $.Scratch.Set "current" . }}
	{{- end }}
{{- end }}

{{- $cpage := (.Scratch.Get "current") }}

{{ "<!-- Start shortcodes/childpages.html -->" | safeHTML }}
<ul class="docs-children list-unstyled">
	{{- .Scratch.Set "pages" $cpage.Pages }}
	{{- if $cpage.Sections }}
		{{- .Scratch.Set "pages" ($cpage.Pages | union $cpage.Sections) }}
	{{- end }}
	{{- $pages := (.Scratch.Get "pages") }}
	{{- if eq $sortTerm "Weight" }}
		{{- template "childs" dict "menu" $pages.ByWeight "pages" .Site.Pages "sortTerm" $sortTerm }}
	{{- end }}
</ul>
{{ "<!-- End shortcodes/childpages.html -->" | safeHTML }}

{{- define "childs" }}
	{{- range .menu }}
	<li class="ml-1 my-1">
		<a class="text-decoration-none" href="{{.RelPermalink}}"><i class="bi bi-file-earmark mx-2 text-dark"></i>{{ if not hugo.IsProduction }}({{ .Params.weight }}) {{ end }}{{ if .Params.draft }}DRAFT: {{ end }}{{ if .Params.description }}{{ .Params.description }}{{ else }}{{ .Title }}{{ end }}</a>
	</li>
	{{- end }}
{{- end }}
