{{- .Scratch.Set "content" "" }}
{{- .Scratch.Set "identifier" "" }}

{{- $identifier := "" }}
{{- $filepath := .Get "file" | default "none" }}
{{- $lang := .Get "lang" | default "text" }}

{{- if (ne $filepath "none") }}
	{{- .Scratch.Set "content" ($filepath | readFile) }}
	{{- .Scratch.Set "identifier" (first 10 (md5 (.Scratch.Get "content"))) }}
{{- else }}
	{{- .Scratch.Set "content" .Inner }}
	{{- .Scratch.Set "identifier" (first 10 (md5 .Inner)) }}
{{- end }}

{{ "<!-- Start shortcodes/code.html -->" | safeHTML }}
<div class="position-relative bg-light px-2">
	<div class="position-absolute bg-light" style="right: 0;">
		<button class="btn btn-outline-sm" data-clipboard-target="#{{ printf "clipboard_%s" (.Scratch.Get "identifier") }}">Copy</button>
	</div>
	<div id="{{ printf "clipboard_%s" (.Scratch.Get "identifier") }}">
	{{ transform.Highlight .Inner $lang }}
	</div>
</div>
{{ "<!-- End shortcodes/code.html -->" | safeHTML }}
