
{{ $opt := .Get "options" }}

{{ "<!-- Start shortcodes/rpi-models.html -->" | safeHTML }}
<div class="table-responsive">
	<table class="table table-striped bg-light">
		<thead>
			<tr>
				{{ if in $opt "mod" }}<th>Model</th>{{ end }}
				{{ if in $opt "mem" }}<th>Memory</th>{{ end }}
				{{ if in $opt "fre" }}<th>Freq</th>{{ end }}
				{{ if in $opt "cor" }}<th>Cores</th>{{ end }}
				{{ if in $opt "ker" }}<th>Kernel</th>{{ end }}
				{{ if in $opt "lan" }}<th>LAN</th>{{ end }}
				{{ if in $opt "wif" }}<th>Wifi</th>{{ end }}
				{{ if in $opt "hea" }}<th>Headphones</th>{{ end }}
			</tr>
		</thead>
		<tbody>
			{{- range $.Site.Data.rpi_models.rpi }}
			<tr>
				{{ if in $opt "mod" }}<td>{{ .model }}</td>{{ end }}
				{{ if in $opt "mem" }}<td>{{ .memory }}</td>{{ end }}
				{{ if in $opt "fre" }}<td>{{ .freq }}</td>{{ end }}
				{{ if in $opt "cor" }}<td>{{ .cores }}</td>{{ end }}
				{{ if in $opt "ker" }}<td>{{ .kernel }}</td>{{ end }}
				{{ if in $opt "lan" }}<td>{{ .lan }}</td>{{ end }}
				{{ if in $opt "wif" }}<td>{{ .wifi }}</td>{{ end }}
				{{ if in $opt "hea" }}<td>{{ .headphones }}</td>{{ end }}
			</tr>
			{{- end }}
		</tbody>
	</table>
</div>
{{ "<!-- End shortcodes/rpi-models.html -->" | safeHTML }}
