{{ $style := .Get "style" }}

{{ "<!-- Start shortcodes/table.html -->" | safeHTML }}
{{ $htmlTable := .Inner | markdownify }}
{{ $oldTag := "<table>" }}
<div class="table-responsive">
{{- $newTag := printf "<table class=\"table %s\">" $style }}
{{ $htmlTable := replace $htmlTable $oldTag $newTag }}
{{- $htmlTable | safeHTML -}}
</div>
{{ "<!-- End shortcodes/table.html -->" | safeHTML }}
